<row class="main-div">
    <columns class="make-content-center">
        <p>
            <a class="social-link" href=${linkedinLink} target="_blank">
                <img class="social-img"
                     src="https://blue-pilot-staging.s3.ap-south-1.amazonaws.com/logos/linkdin.jpg"
                     alt="In">
            </a>
            <a class="social-link" href=${companyLink} target="_blank">
                <img class="social-img"
                     src=${companyLogo}
                     alt="Pr">
            </a>
            <a class="social-link" href=${instagramLink} target="_blank">
                <img class="social-img"
                     src="https://blue-pilot-staging.s3.ap-south-1.amazonaws.com/logos/instagram.jpg"
                     alt="in">
            </a>
        </p>
        <p class="contact-div-txt">If you have any questions or need assistance, feel free to contact.
            ${companyEmail}
        </p>
        <p class="contact-div-txt">${companyAddress} .All rights reserved.</p>
    </columns>
</row>